<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whc.mix_api.mapper.BannerMapper">
  <resultMap id="BaseResultMap" type="com.whc.mix_api.model.Banner">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="Introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="show" jdbcType="BIT" property="show" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="BannerVO" type="com.whc.mix_api.model.vo.BannerVO">
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="Introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
    <result column="rating_num" jdbcType="DOUBLE" property="ratingNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, video_id, name, Introduction, banner_url, show, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from banner
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from banner
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whc.mix_api.model.Banner">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into banner (video_id, name, Introduction, 
      banner_url, show, create_time, 
      update_time)
    values (#{videoId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{bannerUrl,jdbcType=VARCHAR}, #{show,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.whc.mix_api.model.Banner">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        video_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="introduction != null">
        Introduction,
      </if>
      <if test="bannerUrl != null">
        banner_url,
      </if>
      <if test="show != null">
        show,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="videoId != null">
        #{videoId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="show != null">
        #{show,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whc.mix_api.model.Banner">
    update banner
    <set>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        Introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
      <if test="show != null">
        show = #{show,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whc.mix_api.model.Banner">
    update banner
    set video_id = #{videoId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      Introduction = #{introduction,jdbcType=VARCHAR},
      banner_url = #{bannerUrl,jdbcType=VARCHAR},
      show = #{show,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getBannerVO" resultMap="BannerVO">
    select a.name,a.Introduction,a.banner_url,a.video_id,b.rating_num from banner a join video b on a.video_id = b.id where a.show = 1
  </select>
</mapper>